.welcomeContainer{
    height: 61vh;
    margin-top: 12rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    background-color: white;
    border-radius: 1rem;
    
    
}



.welcomeImgContainer{
display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
 
    
}

.welcomeGreetingContainter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
   
}

.welcomeGreetingContainter p {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0 auto;
}