.CardsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
    
}

.paginationContainer{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.pageNumbers{
    display: flex;
    border: 1px solid white;
    padding: 0.5rem;
    
    align-items: stretch;
    
   
}

.pageNumbers li {
    list-style: none;
    padding-top: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--button-color);  
    cursor: pointer;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    flex: 2;
}
.pageNumbers li.active {
    background-color: var(--hoover-action)
} 

.pageNumbers li button {
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;

}

.pageNumbers li button:hover { 
    background-color: var(--button-color);
}