
.containerDogs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    gap: 2rem;
}

.tempContainer{
    display: flex;
    flex-direction: column;
    
    width: 50%;
    
     margin: 0 auto;
    padding: 0 5rem;
    margin-top: 10rem;
    align-items: center;
     background-color: var(--button-color);
  
     border-radius: 1rem;
}

.tempContainer h2 { 
   
  
    font-size: 2rem;
    padding: 1rem;
  
}
.temph2{
   text-align: center;
   padding: 1rem;
}

.selectTempContainer{
    padding: 1rem;
display: flex;
width: 100%;
justify-content: space-around;

}
.selectTempContainer label {
width: 20%;
}

.selectTempContainer select {
    width: 50%;
}
.selectTempContainer button {
    width: 30%;
}

.originContainer{
    
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
  
}


.originContainer label { 
    width: 20%;
}
.originContainer select { 
    width: 50%;
}

.originContainer button {
    width: 30%;
}

.style{
    
    padding: 0.5rem;
   
}

.style h4 { 
    color :black;
    font-size: 1.5rem;
    
}

.orderContainer {
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.orderContainer label {
    width: 20%;
}

.orderContainer select {
    width: 50%;
}

.orderContainer button {
    width: 30%;
}