* {
  --main-color: rgb(64, 64, 75);
  --button-color: rgb(173, 231, 146);
  --font-color: rgb(255, 255, 255);
  --back-ground: rgb(32, 38, 46);
  --hoover-action: rgb(84, 153, 82);
  --last-use: rgb(243, 236, 176);
  margin: 0;
  padding: 0;
}



body {

  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(68, 68, 68);
  font-weight: 400;

  background: linear-gradient(-45deg, #626362, #515f50, #a7a1a6, #e0dce0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



