* {
  --main-color: rgb(64, 64, 75);
  --button-color: rgb(173, 231, 146);
  --font-color: rgb(255, 255, 255);
  --back-ground: rgb(32, 38, 46);
  --hoover-action: rgb(84, 153, 82);
  --last-use: rgb(243, 236, 176);
  margin: 0;
  padding: 0;
}



body {

  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(68, 68, 68);
  font-weight: 400;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .structure {
  margin: 0 2.5%;
  
} */