.center {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    height: 5vw;
  
    /* background-color:var(--button-color); */
}

.search {
    height: 50%;
    margin-right: 0.5em;
    border-radius: 0.5em;
    width: 55%;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid white;
    color: rgb(255, 255, 255);

}
.search:hover {
    background-color: var(--triadic-color1);
}

.buttonSearch {
    height: 2.4em;
    width: 10%;
    border-radius: 0.5em;
    border-style: none;
    background-color: rgb(134, 132, 132);
    font-size: 1.2rem;
    font-weight: 600;

}
.filterContainer{
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
        gap: 2rem;
        
}

.buttonSearch:hover {
    background-color: rgb(75, 172, 75);
    text-decoration: underline;
}

.pageNumbers {
    display: flex;
    border: 1px solid white;
    padding: 0.5rem;

    align-items: stretch;
    justify-content: space-evenly;
    height: 7vh;
}

.pageNumbers li {
    list-style: none;
    padding-top: 0.5rem;
    border: 1px solid white;
    background-color: blue;
    cursor: pointer;
    margin: 0;
    flex: 2;
}

.pageNumbers li.active {
    background-color: var(--triadic-color1);
}

@media (max-width: 600px) {
.center { 
        width: 100%;
        margin-top: 1.8rem;

    }
.search {
        height: 80%;
        width: 70%;
        font-size: 1.1rem;
        background-color: white;
        color: rgb(0, 0, 0);

    }
}